/*Color Scheme
Main Color: #D5920B, Complement: #0BD5A6 Background: #580915
Linerar Saturation of Main Color:
#D5920B
#C48C1C
#B4872D
#A3813E
#927B4F
#81765F
#81765F
#707070*/

//Sass variables for color scheme
$colorDefaultBackground: #580915; //red
$colorMainText: #D5920B; //gold
$colorMainTextLinerarGradiant: #C48C1C; //gold shade
$colorTextComplement: #0BD5A6;	//green
$colorPageImageBackground: #D1D5DB; //grey
