/*page header*/
.page-header {
	width: 927px;
	height: auto;
	margin: 0 20px 20px 20px;
}
.page-header h1 {
	font-weight: normal;
	text-align: left;
	padding: 0 0 0 0;
	color: $colorMainText;
}
.page-header h2 {
	font-weight: normal;
	padding: 0 0 0 0;
	text-align: left;
	color: $colorMainTextLinerarGradiant;
}
